# Ignore everything by default
*

# Allow Docker / Compose files
!dtu-pay-server/Dockerfile
!dtu-pay-server/compose.yml
!README.md

# Allow Maven build inputs
!pom.xml
!mvnw
!mvnw.cmd
!.mvn/
!.mvn/**

# Allow source code + tests/resources
!src/
!src/**

# Allow cucumber features (if needed during build/tests)
!features/
!features/**

!target/
!target/quarkus-app/
!target/quarkus-app/**


